/************************************************************************
 * Global styles */

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    cursor: default;
    color: #000545;
    line-height: 1.42857143;
}

.muted {
    color: #AAA;
}

.center {
    text-align: center;
}

/************************************************************************
 * Rows */

.row {
    display: table;
    width: 100%;
}

.row > div {
    display: table-cell;
    vertical-align: top;
    padding: 10px;
}

.row > div:first-child {
    padding-left: 0;
}

.row > div:last-child {
    padding-right: 0;
}

/************************************************************************
 * Monitorings */

.monitoring {
    padding-bottom: 15px;
}

.monitoring > .status {
    width: 60px;
    vertical-align: middle;
}

.monitoring .name {
    font-weight: bold;
    font-size: 18px;
}

.monitoring .name a {
    text-decoration: none;
}

.monitoring .info {
    font-size: 14px;
}

/************************************************************************
 * Links */

a,
a:visited {
    text-decoration: underline;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

/************************************************************************
 * Statuses */

.status-chip {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #DDD;
    color: #000;
    border: 1px solid #CCC;
    line-height: 1.42857143;
    display: inline-block;
}

.status-chip.UP {
    background-color: #24C933;
    color: #FFF;
    border-color: #10a81d;
}

.status-chip.DOWN {
    background-color: #E95E5E;
    color: #FFF;
    border-color: #ae4747;
}

.status-chip.UNKNOWN {
    background-color: #B0A9A9;
    color: #FFF;
    border-color: #877e7e;
}

/************************************************************************
 * Buttons */

button, .button {
    border-radius: 5px;
    cursor: pointer;
    background-color: #000545;
    border: 2px solid #E6B71D;
    outline: none;
    padding: 3px 5px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

button:hover, .button:hover,
button:focus, .button:focus {
    background-color: #3A8CB2;
    outline: none;
}

button:disabled, .button.disabled {
    background-color: #CCC;
    border-color: #000;
    color: #000;
}

button.small, .button.small {
    padding: 2px;
}

/************************************************************************
 * Inputs */

input,
select,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #FFF;
    padding: 5px 10px;
    border: 2px solid #E6B71D;
    border-radius: 5px;
    font-size: 16px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

/************************************************************************
 * Forms */

form .group {
    margin-bottom: 15px;
}

form .group > label {
    display: block;
    width: 100%;
    font-weight: bold;
}

form .group > input:not([type="checkbox"]),
form .group > select,
form .group > textarea {
    display: block;
    width: 100%;
}

form .group div {
    width: 100%;
}

/************************************************************************
 * Alerts */

p.alert,
div.alert {
    padding: 10px;
    margin-bottom: 15px;
}

span.alert,
small.alert {
    padding: 3px;
}

.alert {
    border-radius: 5px;
    border: 2px solid;
}

.alert a,
.alert a:visited,
.alert a:hover,
.alert a:focus {
    color: inherit;
}

.alert.success {
    background-color: #6ead4f;
    color: #FFF;
    border-color: #187B00;
}

.alert.error {
    background-color: #dd3b3b;
    color: #FFF;
    border-color: #AB1111;
}

.alert.info {
    background-color: #3493FE;
    color: #FFF;
    border-color: #345FDA;
}

/************************************************************************
 * Header */

header {
    padding: 10px;
}

header a {
    font-size: 42px;
    text-decoration: none;
    color: inherit;
    border: none;
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

header a:hover {
    border: none;
    color: inherit;
    text-decoration: none;
}

 /************************************************************************
 * Navigations */

nav.main {
    background-color: #000545;
    border-top: 4px solid #E6B71D;
    border-bottom: 4px solid #E6B71D;
    color: #FFF;
    font-weight: bold;
}

nav.main > ul,
nav.secondary > ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style-type:none;
}

nav.main > ul > li,
nav.secondary > ul > li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav.main > ul > li > a,
nav.secondary > ul > li > a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px;
}

nav.main > ul > li > a:hover {
    text-decoration: none;
    background-color: #002378;
}

nav.main > ul > li.active a {
    background-color: #3A8CB2;
}

nav.main > ul > li.active > a:hover {
    background-color: #3898C5;
}

/************************************************************************
 * Secondary navigation */

nav.secondary > ul {
    background-color: #3898C5;
    border-bottom: 4px solid #E6B71D;
    border-left: 4px solid #E6B71D;
    border-right: 4px solid #E6B71D;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #FFF;
    font-weight: bold;
}

nav.secondary > ul > li.active a {
    background-color: #3A8CB2;
}

nav.secondary > ul > li.active:first-child a {
    border-bottom-left-radius: 10px;
}

nav.secondary > ul > li.active:last-child a {
    border-bottom-right-radius: 10px;
}

nav.secondary > ul > li.active > a:hover {
    background-color: #3898C5;
}

/************************************************************************
 * Tables */
 
.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-bottom: 10px;
}

table,
table td,
table th {
    border: 2px solid #E6B71D;
}

table th {
    background-color: #000545;
    color: #FFF;
}

table td,
table th {
    padding: 5px;
    text-align: left;
}

table thead th {
    border-bottom-width: 4px;
}

table tfoot th {
    border-top-width: 4px;
}

table tr:nth-child(odd) td {
    
}

table tr:nth-child(even) td {
    background-color: #F5F6FF;
}

/************************************************************************
 * Page content */

#page {
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

/************************************************************************
 * Footer */

footer {
    font-size: 12px;
    padding: 10px;
    border-top: 4px solid #E6B71D;
}

footer a,
footer a:visited {
    color: inherit;
}
