{% block jsfiles %}
    <script src="https://unpkg.com/vue@2.4.4/dist/vue{% if not config['DEBUG'] %}.min{% endif %}.js"></script>
{% endblock %}

{{ form.csrf_token }}

<div class="grid has-gutter pbs">
    <div class="large-w33 tiny-w100">
        {{ form.name.label(class="bl") }}
        {{ form.name(required='', class='w100 mts') }}
    </div>
    <div class="large-w33 tiny-w100">
        {{ form.url.label() }}
        {{ form.url(required='', class='w100 mts') }}
    </div>
    <div class="large-w33 tiny-w100">
        {{ form.http_body_regex.label() }}
        {{ form.http_body_regex(placeholder=_('Python Regex or empty to disable'), class='w100 mts') }}
    </div>
</div>

<div class="grid has-gutter">
    <div class="large-w33 tiny-w100">
        <label for="{{ form.is_active.label.field_id }}">{{ form.is_active }} {{ form.is_active.label.text }}</label>
    </div>
    <div class="large-w33 tiny-w100">
        <label for="{{ form.is_public.label.field_id }}">{{ form.is_public }} {{ form.is_public.label.text }}</label>
    </div>
    <div class="large-w33 tiny-w100">
        <label for="{{ form.verify_https_cert.label.field_id }}">{{ form.verify_https_cert }} {{ form.verify_https_cert.label.text }}</label>
    </div>
</div>

<div class="grid has-gutter">
    <div class="large-w33 tiny-w100">
        {{ form.http_method.label(class="inbl") }}
        {{ form.http_method(class='w100 mts') }}
    </div>
    <div class="large-w33 tiny-w100">
        {{ form.timeout.label(class="inbl") }}
        {{ form.timeout(placeholder=_('Defaults to 10, min 3'), min='3', class='w100 mts') }}
    </div>
    <div class="large-w33 tiny-w100">
        {{ form.check_interval.label(class="inbl") }}
        {{ form.check_interval(placeholder=_('Defaults to 5, min 1'), min='1', class='w100 mts') }}
    </div>
</div>

<div id="app">
    {{ form.http_headers.label() }}

    <kvitemslist :items.sync="http_headers" name="http_headers"></kvitemslist>

    {% if config['ENABLE_EMAIL_ALERTS'] %}
        {{ form.email_recipients.label() }}

        <simpleitemslist :items.sync="email_recipients" name="email_recipients" placeholder="{{ _('Type an email address and hit Enter') }}"></simpleitemslist>
    {% endif %}

    {% if config['ENABLE_SMS_ALERTS'] %}
        {{ form.sms_recipients.label() }}

        <simpleitemslist :items.sync="sms_recipients" name="sms_recipients" placeholder="{{ _('Type a phone number and hit Enter') }}"></simpleitemslist>
    {% endif %}
</div>

<p class="txtcenter">
    <a href="{{ url_for('admin') }}" class="btn"><i class="fa fa-arrow-left"></i> {{ _('Back') }}</a> <button type="submit"><i class="fa fa-save"></i> {{ _('Save') }}</button>
</p>

<template id="simpleitemslist">
    <div class="mts">
        <input type="hidden" :name="name" :value="JSON.stringify(items)">

        <div>
            {{ _('Add new:') }} <input type="text" v-model.trim="item_to_add" @keydown.enter.prevent="addItem()" class="inbl w300p" :placeholder="placeholder"> <a href="#" @click.prevent="addItem()" title="{{ _('Add') }}" class="btn"><i class="fa fa-plus"></i></a>
        </div>

        <div v-show="items.length > 0" class="mts">
            <span v-for="item in items" class="pill pas mrs mbs">${ item } <a href="#" title="{{ _('Remove') }}" @click.prevent="items.splice(items.indexOf(item), 1)"><i class="fa fa-remove"></i></a></span>
        </div>
    </div>
</template>

<template id="kvitemslist">
    <div class="mts">
        <input type="hidden" :name="name" :value="JSON.stringify(items)">

        <div>
            {{ _('Add new:') }} <input type="text" v-model.trim="item_to_add.name" @keydown.enter.prevent="addItem()" class="inbl w200p" placeholder="{{ _('Name') }}"> <input type="text" v-model.trim="item_to_add.value" @keydown.enter.prevent="addItem()" class="inbl w200p" placeholder="{{ _('Value') }}"> <a href="#" @click.prevent="addItem()" title="{{ _('Add') }}" class="btn"><i class="fa fa-plus"></i></a>
        </div>

        <table v-show="Object.keys(items).length > 0" class="mts">
            <thead>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Value') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(value, name) in items">
                    <td><a href="#" title="{{ _('Remove') }}" @click.prevent="$delete(items, name)"><i class="fa fa-remove"></i></a> ${ name }</td>
                    <td>${ value }</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    Vue.config.silent = {{ 'false' if config['DEBUG'] else 'true' }};
    Vue.config.productionTip = false;

    var vue_delimiters = ['${', '}']; // Because Jinja2 already uses double brackets

    Vue.component('simpleitemslist', {
        delimiters: vue_delimiters,
        template: '#simpleitemslist',
        props: ['items', 'name', 'placeholder'],
        data: function() {
            return {
                item_to_add: ''
            };
        },
        methods: {
            addItem: function() {
                if (!this.item_to_add) {
                    return;
                }

                this.items.push(this.item_to_add);

                this.item_to_add = '';
            }
        }
    });

    Vue.component('kvitemslist', {
        delimiters: vue_delimiters,
        template: '#kvitemslist',
        props: ['items', 'name'],
        data: function() {
            return {
                item_to_add: {
                    name: '',
                    value: ''
                }
            };
        },
        methods: {
            addItem: function() {
                if (!this.item_to_add.name || !this.item_to_add.value || (this.item_to_add.name in this.items)) {
                    return;
                }

                this.items[this.item_to_add.name] = this.item_to_add.value;

                this.item_to_add.name = '';
                this.item_to_add.value = '';
            }
        }
    });

    var app = new Vue({
        delimiters: vue_delimiters,
        el: '#app',
        data: {
            http_headers: {{ monitoring.http_headers|tojson if monitoring else '{}' }},
            email_recipients: {{ monitoring.email_recipients|tojson if config['ENABLE_EMAIL_ALERTS'] and monitoring else '[]' }},
            sms_recipients: {{ monitoring.sms_recipients|tojson if config['ENABLE_SMS_ALERTS'] and monitoring else '[]' }}
        }
    });
</script>
