{% extends 'layout.html' %}

{% block meta_title %}{{ _('Admin') }} › {{ _('Monitorings') }}{% endblock %}

{% block content %}
    <p class="txtcenter"><a href="{{ url_for('admin_create') }}" class="btn"><i class="fa fa-plus"></i> {{ _('Create') }}</a></p>

    {% if monitorings %}
    <div class="table-responsive mts">
        <table>
            <thead>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th class="w50p">{{ _('Active') }}</th>
                    <th>{{ _('URL') }}</th>
                    <th>{{ _('HTTP method') }}</th>
                    <th>{{ _('Verify HTTPS certificate') }}</th>
                    <th>{{ _('Check interval') }}</th>
                    <th>{{ _('Timeout') }}</th>
                    <th class="w100p">{{ _('Actions') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for monitoring in monitorings %}
                <tr>
                    <td>{% if not monitoring.is_public %}<i class="fa fa-lock"></i> {% endif %}{{ monitoring.name }}</td>
                    <td>{% if monitoring.is_active %}<strong>{{ _('Yes') }}</strong>{% else %}{{ _('No') }}{% endif %}</td>
                    <td><a href="{{ monitoring.url }}">{{ monitoring.url }}</a></td>
                    <td><code>{{ monitoring.http_method.value }}</code></td>
                    <td>{% if monitoring.verify_https_cert %}<strong>{{ _('Yes') }}</strong>{% else %}{{ _('No') }}{% endif %}</td>
                    <td>{{ monitoring.check_interval }}m</td>
                    <td>{{ monitoring.timeout }}s</td>
                    <td class="txtcenter"><a href="{{ url_for('admin_edit', monitoring_id=monitoring.id) }}" class="btn" title="{{ _('Edit this monitoring') }}"><i class="fa fa-pencil"></i></a> <a href="{{ url_for('admin_delete', monitoring_id=monitoring.id) }}" class="btn" onclick="return confirm('{{ _('Are you sure?') }}')" title="{{ _('Delete this monitoring') }}"><i class="fa fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p class="alert info pas">{{ _('No monitoring to display a this moment.') }}</p>
    {% endif %}
{% endblock %}
