<div class="row">
    <div style="width:50%">
        <div class="group">
            <label for="name">Name *</label>
            <input type="text" name="name" id="name" value="{{ monitoring.name if monitoring else request.form.name }}" required>
        </div>
    </div>
    <div style="width:50%">
        <div class="group">
            <label for="url">URL to check *</label>
            <input type="url" name="url" id="url" value="{{ monitoring.url if monitoring else request.form.url }}" required>
        </div>
    </div>
</div>

<div class="row">
    <div style="width:33%">
        <div class="group">
            <label for="is_active"><input type="checkbox" name="is_active" id="is_active"> Active?</label>
        </div>
    </div>
    <div style="width:33%">
        <div class="group">
            <label for="is_public"><input type="checkbox" name="is_public" id="is_public"> Visible to anyone?</label>
        </div>
    </div>
    <div style="width:33%">
        <div class="group">
            <label for="verify_https_cert"><input type="checkbox" name="verify_https_cert" id="verify_https_cert"> Verify HTTPS certificate?</label>
        </div>
    </div>
</div>

<div class="row">
    <div style="width:33%">
        <div class="group">
            <label for="http_method">HTTP method to use</label>
            <select name="http_method" id="http_method">
                <option value="GET">GET</option>
                <option value="HEAD">HEAD</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
            </select>
        </div>
    </div>
    <div style="width:33%">
        <div class="group">
            <label for="timeout">Connection timeout (seconds)</label>
            <input type="number" name="timeout" id="timeout" value="{{ monitoring.timeout if monitoring else request.form.timeout }}" placeholder="Defaults to 10" min="3">
        </div>
    </div>
    <div style="width:33%">
        <div class="group">
            <label for="check_interval">Check interval (minutes)</label>
            <input type="number" name="check_interval" id="check_interval" value="{{ monitoring.check_interval if monitoring else request.form.check_interval }}" placeholder="Defaults to 5" min="1">
        </div>
    </div>
</div>

<div class="group">
    <label for="recipients">Recipients of the email alerts</label>
    <textarea name="recipients" id="recipients" required placeholder="Comma-separated list of email addresses">{{ monitoring.recipients if monitoring else request.form.recipients }}</textarea>
</div>

<p class="center">
    <a href="{{ url_for('admin_monitorings_list') }}" class="button"><i class="fa fa-arrow-left"></i> Back</a> <button type="submit"><i class="fa fa-save"></i> Save</button>
</p>