{% block jsfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
{% endblock %}

{{ form.csrf_token }}

<div class="grid has-gutter pbs">
    <div class="large-w50 tiny-w100">
        {{ form.name.label(class="inbl") }}
        {{ form.name(required='', placeholder=_('If empty, will try to get it automatically')) }}
    </div>
    <div class="large-w50 tiny-w100">
        {{ form.url.label(class="inbl") }}
        {{ form.url(required='', placeholder=_('Must be accessible by Server Patrol')) }}
    </div>
</div>

<div class="grid has-gutter">
    <div class="large-w33 tiny-w100">
        <label for="{{ form.is_active.label.field_id }}">{{ form.is_active }} {{ form.is_active.label.text }}</label>
    </div>
    <div class="large-w33 tiny-w100">
        <label for="{{ form.is_public.label.field_id }}">{{ form.is_public }} {{ form.is_public.label.text }}</label>
    </div>
    <div class="large-w33 tiny-w100">
        <label for="{{ form.verify_https_cert.label.field_id }}">{{ form.verify_https_cert }} {{ form.verify_https_cert.label.text }}</label>
    </div>
</div>

<div class="grid has-gutter">
    <div class="large-w33 tiny-w100">
        {{ form.http_method.label(class="inbl") }}
        {{ form.http_method }}
    </div>
    <div class="large-w33 tiny-w100">
        {{ form.timeout.label(class="inbl") }}
        {{ form.timeout(placeholder=_('Defaults to 10, min 3'), min='3') }}
    </div>
    <div class="large-w33 tiny-w100">
        {{ form.check_interval.label(class="inbl") }}
        {{ form.check_interval(placeholder=_('Defaults to 5, min 1'), min='1') }}
    </div>
</div>

{% if config['ENABLE_EMAIL_ALERTS'] %}
    {{ form.email_recipients.label(class="inbl") }}
    {{ form.email_recipients(placeholder=_('Comma-separated list of email addresses'), class='mtn') }}
{% endif %}

{% if config['ENABLE_SMS_ALERTS'] %}
    {{ form.sms_recipients.label(class="inbl") }}
    {{ form.sms_recipients(placeholder=_('Comma-separated list of mobile phone numbers'), class='mtn') }}
{% endif %}

<p class="txtcenter">
    <a href="{{ url_for('admin_monitorings_list') }}" class="btn"><i class="fa fa-arrow-left"></i> {{ _('Back') }}</a> <button type="submit"><i class="fa fa-save"></i> {{ _('Save') }}</button>
</p>

<script>
Zepto(function () {
    var $input_name = $('#{{ form.name.label.field_id }}');
    var $input_url = $('#{{ form.url.label.field_id }}');

    function fetchPageTitle() {
        var url = $input_url.val();

        if (!url || $input_name.val()) { // Empty URL field or name already defined
            return;
        }

        $.ajax({
            type: 'GET',
            url: '{{ url_for('fetch_page_title') }}',
            data: { url: url },
            success: function(response, status, xhr) {
                if (response.result == 'success') {
                    $input_name.val(response.data.page_title)
                }
            },
            error: function(xhr, errorType, error) {
                var message = '';

                try {
                    var response = JSON.parse(xhr.responseText);
                    message = response.data.message;
                } catch (e) {
                    message = error;
                }

                alert('{{ _('Error getting the page URL:') }} ' + message);
            }
        });
    }

    $input_url.on('blur', function() {
        fetchPageTitle();
    });
});
</script>