{% extends 'layout.html' %}

{% block content %}
    <p class="center"><a href="#" class="button"><i class="fa fa-plus"></i> New</a></p>

    {% if monitorings %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Public</th>
                    <th>URL</th>
                    <th>HTTP method</th>
                    <th>Verify HTTPS certificate</th>
                    <th>Check interval</th>
                    <th>Timeout</th>
                    <th>Recipients</th>
                    <th style="width: 90px">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for monitoring in monitorings %}
                <tr>
                    <td>{{ monitoring.name }}</td>
                    <td>{% if monitoring.is_active %}Yes{% else %}No{% endif %}</td>
                    <td>{% if monitoring.is_public %}Yes{% else %}No{% endif %}</td>
                    <td><a href="{{ monitoring.url }}">{{ monitoring.url }}</a></td>
                    <td><code>{{ monitoring.http_method.value }}</code></td>
                    <td>{% if monitoring.verify_https_cert %}Yes{% else %}No{% endif %}</td>
                    <td>{{ monitoring.check_interval }}m</td>
                    <td>{{ monitoring.timeout }}s</td>
                    <td>{{ monitoring.recipients }}</td>
                    <td class="center"><a href="#" class="button"><i class="fa fa-pencil"></i></a> <a href="#" class="button"><i class="fa fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert info">No monitorings to display a this moment.</div>
    {% endif %}
{% endblock %}