{% extends 'admin/admin.html' %}

{% block meta_title %}Admin › Monitorings{% endblock %}

{% block content %}
    <p class="txtcenter"><a href="{{ url_for('admin_monitorings_create') }}" class="btn"><i class="fa fa-plus"></i> Create</a></p>

    {% if monitorings %}
        <table class="mts">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Active</th>
                    <th>URL</th>
                    <th>HTTP method</th>
                    <th>Verify HTTPS certificate</th>
                    <th>Check interval</th>
                    <th>Timeout</th>
                    <th>Recipients</th>
                    <th style="width: 90px">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for monitoring in monitorings %}
                <tr>
                    <td>{% if not monitoring.is_public %}<i class="fa fa-lock"></i> {% endif %}{{ monitoring.name }}</td>
                    <td>{% if monitoring.is_active %}Yes{% else %}No{% endif %}</td>
                    <td><a href="{{ monitoring.url }}">{{ monitoring.url }}</a></td>
                    <td><code>{{ monitoring.http_method.value }}</code></td>
                    <td>{% if monitoring.verify_https_cert %}Yes{% else %}No{% endif %}</td>
                    <td>{{ monitoring.check_interval }}m</td>
                    <td>{{ monitoring.timeout }}s</td>
                    <td>{{ monitoring.recipients }}</td>
                    <td class="txtcenter"><a href="{{ url_for('admin_monitorings_edit', monitoring_id=monitoring.id) }}" class="btn"><i class="fa fa-pencil"></i></a> <a href="{{ url_for('admin_monitorings_delete', monitoring_id=monitoring.id) }}" class="btn" onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert info pas">No monitoring to display a this moment.</div>
    {% endif %}
{% endblock %}