{% extends 'layout.html' %}

{% block content %}
    <div class="monitorings">
        <div class="monitoring row">
            <div class="status center">
                <span class="status-chip up"><i class="fa fa-check"></i></span>
            </div>
            <div>
                <div class="name">thisiswar.online <small><a href="https://thisiswar.online/"><i class="fa fa-external-link"></i></a></small></div>
                <div class="muted info"><strong>Last checked:</strong> 6 minutes ago <strong>Next check:</strong> in 1 minute</div>
            </div>
        </div>
        <div class="monitoring row">
            <div class="status center">
                <span class="status-chip unknown"><i class="fa fa-question"></i></span>
            </div>
            <div>
                <div class="name">blog.epoc.fr <small><a href="https://blog.epoc.fr/"><i class="fa fa-external-link"></i></a></small></div>
                <div class="muted info"><strong>Last checked:</strong> Never <strong>Next check:</strong> in 5 minutes</div>
            </div>
        </div>
        <div class="monitoring row">
            <div class="status center">
                <span class="status-chip down"><i class="fa fa-times"></i></span>
            </div>
            <div>
                <div class="name">epoc.fr <small><a href="https://epoc.fr/"><i class="fa fa-external-link"></i></a></small></div>
                <div class="muted info"><strong>Down for:</strong> 4 minutes <strong>Last checked:</strong> just now <strong>Next check:</strong> in 4 minutes</div>
            </div>
        </div>
    </div>

    <p class="center"><a href="{{ url_for('rss') }}" class="button"><i class="fa fa-rss"></i> RSS feed</a></p>
{% endblock %}