{% extends 'layout.html' %}

{% block content %}
    <p class="center"><a href="{{ url_for('rss_all') }}" class="button"><i class="fa fa-rss"></i> All</a></p>

    {% for monitoring in monitorings %}
        <div class="monitoring row">
            <div class="status center">
                <span class="status-chip {{ monitoring.status }}"><i class="fa fa-{% if monitoring.status == 'up' %}check{% elif monitoring.status == 'down' %}times{% elif monitoring.status == 'unknown' %}question{% endif %}"></i></span>
            </div>
            <div>
                <div class="name">{% if not monitoring.is_public %}<i class="fa fa-lock"></i> {% endif %}{{ monitoring.name }} <small><a href="{{ monitoring.url }}"><i class="fa fa-external-link"></i></a> <a href="{{ url_for('rss_one', monitoring_id=monitoring.id) }}"><i class="fa fa-rss"></i></a></small></div>
                <div class="muted info">{% if monitoring.status == 'down' %}<strong>Down for:</strong> {{ monitoring.last_status_change_at.humanize() }} • {% endif %}<strong>Last checked:</strong> {% if monitoring.last_checked_at %}{{ monitoring.last_checked_at.humanize() }}{% else %}Never{% endif %} • <strong>Next check:</strong> {% if monitoring.last_checked_at %}{{ monitoring.last_checked_at.replace(minutes=monitoring.check_interval).humanize(arrow.now()) }}{% else %}{{ monitoring.created_at.replace(minutes=monitoring.check_interval).humanize(arrow.now()) }}{% endif %}</div>
            </div>
        </div>
    {% else %}
        <div class="alert info">No monitorings to display a this moment.</div>
    {% endfor %}
{% endblock %}