<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow,noarchive"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <title>Server Patrol</title>
</head>
<body>
    <header class="center">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"> Server Patrol</a>
    </header>

    <nav class="center">
        <ul>
            <li {% if request.endpoint == 'home' %}class="active"{% endif %}><a href="{{ url_for('home') }}">Home</a></li>
            <li {% if request.endpoint == 'manage_monitorings' %}class="active"{% endif %}><a href="{{ url_for('manage_monitorings') }}">Manage monitorings</a></li>
        </ul>
    </nav>
    
    <div id="page">
        {% with flash_messages = get_flashed_messages(with_categories=true) %}
          {% if flash_messages %}
            {% for category, message in flash_messages %}
              <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}
    </div>

    <footer class="muted center">© 2017 <a href="https://epoc.fr">Maxime "Epoc" G.</a> • <a href="https://github.com/EpocDotFr/server-patrol">Source code on GitHub</a> • Licensed under the <a href="https://github.com/EpocDotFr/server-patrol/blob/master/LICENSE.md">DBAD</a></footer>
</body>
</html>