<!DOCTYPE html>
<html lang="{{ g.CURRENT_LOCALE }}">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow,noarchive"/>

    <title>{% block meta_title %}{% endblock %}{% if self.meta_title() | trim %} • {% endif %}{{ config['TITLE'] }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/alsacreations/KNACSS/6.1.2/css/knacss.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    {% block jsfiles %} {% endblock %}

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <link rel="alternate" type="application/rss+xml" title="{{ _('%(title)s - Monitorings status', title=config['TITLE']) }}" href="{{ url_for('rss', _external=True) }}" />
</head>
<body class="man pan">
    <header class="txtcenter pas">
        <a href="{{ url_for('home') }}" class="biggest"><img src="{{ url_for('static', filename='images/logo.png') }}"> {{ config['TITLE'] }}</a>
    </header>

    <nav class="main txtcenter">
        <ul class="unstyled inbl pan man">
            <li class="inbl pan man {% if request.endpoint == 'home' %}active{% endif %}"><a href="{{ url_for('home') }}" class="inbl pas">{{ _('Statuses') }}</a></li>
            {% if config['DEBUG'] %}<li class="inbl pan man {% if request.endpoint == 'reports' %}active{% endif %}"><a href="{{ url_for('reports') }}" class="inbl pas">{{ _('Reports') }}</a></li>{% endif %}
            <li class="inbl pan man {% if request.path.startswith('/admin') %}active{% endif %}"><a href="{{ url_for('admin') }}" class="inbl pas">{{ _('Admin') }}</a></li>
        </ul>
    </nav>

    <div class="w1140p center pas">
        {% with flash_messages = get_flashed_messages(with_categories=true) %}
          {% if flash_messages %}
            {% for category, message in flash_messages %}
              <p class="alert {{ category }} pas">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}
    </div>

    <footer class="txtmuted txtcenter pas small">© 2017 <a href="https://epoc.fr">Maxime "Epoc" G.</a> • <a href="https://github.com/EpocDotFr/server-patrol">{{ _('Source code on GitHub') }}</a> • {{ _('Licensed under the %(license)s', license='<a href="https://github.com/EpocDotFr/server-patrol/blob/master/LICENSE.md">DBAD</a>'|safe) }}</footer>
</body>
</html>
