{% extends 'layout.html' %}

{% block jsfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
{% endblock %}

{% block content %}
    {% if monitorings %}
        {% for monitoring in monitorings %}
            <h2 class="bigger">{% if not monitoring.is_public %}<i class="fa fa-lock"></i> {% endif %}{{ monitoring.name }} <small><a href="{{ monitoring.url }}"><i class="fa fa-external-link"></i></a></small></h2>

            <div class="grid-4 has-gutter">
                <div class="bold txtright">{{ _('Overall availability:') }}</div>
                <div>{{ monitoring.overall_availability }} %</div>
                <div class="bold txtright">{{ _('Average request duration:') }}</div>
                <div>{{ monitoring.average_request_duration }} ms</div>
            </div>

            <canvas id="monitoring_chart_{{ monitoring.id }}" width="100%"></canvas>
        {% endfor %}

        <script>
            moment.locale('{{ g.CURRENT_LOCALE }}');

            {% for monitoring in monitorings %}
                new Chart('monitoring_chart_{{ monitoring.id }}', {
                    type: 'line',
                    data: {
                        datasets: [
                            {
                                backgroundColor: 'rgba(230, 183, 29, 0.1)',
                                borderColor: 'rgba(230, 183, 29, 1)',
                                borderWidth: 2,
                                lineTension: 0,
                                data: {{ monitoring.request_duration_data|tojson }}
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        title: {
                            display: true,
                            text: '{{ _('Past %(monitoring_name)s requests duration', monitoring_name=monitoring.name) }}'
                        },
                        legend: {
                            display: false
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                display: true,
                                distribution: 'series',
                                time: {
                                    displayFormats: {
                                        millisecond: 'LT',
                                        second: 'LT',
                                        minute: 'LT',
                                        week: 'L'
                                    },
                                    tooltipFormat: 'LLL'
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: '{{ _('Date / time') }}'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: '{{ _('Request duration (ms)') }}'
                                }
                            }]
                        }
                    }
                });
            {% endfor %}
        </script>
    {% else %}
        <p class="alert info pas">{{ _('No reports to display a this moment.') }}</p>
    {% endif %}
{% endblock %}