{% extends 'layout.html' %}

{% block jsfiles %}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
{% endblock %}

{% block content %}
    {% if monitorings %}
        {% for monitoring in monitorings %}
            <h2 class="bigger">{% if not monitoring.is_public %}<i class="fa fa-lock"></i> {% endif %}{{ monitoring.name }} <small><a href="{{ monitoring.url }}"><i class="fa fa-external-link"></i></a></small></h2>

            <div class="grid-4 has-gutter">
                <div class="bold txtright">{{ _('Overall availability:') }}</div>
                <div>{{ monitoring.overall_availability }} %</div>
                <div class="bold txtright">{{ _('Average request duration:') }}</div>
                <div>{{ monitoring.average_request_duration }} ms</div>
            </div>

            <div id="monitoring_chart_{{ monitoring.id }}" class="request-duration-chart"></div>
        {% endfor %}

        <script>
            {% for monitoring in monitorings %}
                Highcharts.stockChart('monitoring_chart_{{ monitoring.id }}', {
                    title: {
                        text: '{{ _('Past %(monitoring_name)s requests duration', monitoring_name=monitoring.name) }}'
                    },
                    series: [{
                        name: '{{ _('Duration') }}',
                        data: {{ monitoring.request_duration_data|tojson }}
                    }]
                });
            {% endfor %}
        </script>
    {% else %}
        <p class="alert info pas">{{ _('No reports to display a this moment.') }}</p>
    {% endif %}
{% endblock %}